.legal-mention-cls-1 {
  fill: #f2f2f2;
}
.legal-mention-cls-12,
.legal-mention-cls-14,
.legal-mention-cls-2,
.legal-mention-cls-3,
.legal-mention-cls-5,
.legal-mention-cls-6,
.legal-mention-cls-8,
.legal-mention-cls-9 {
  fill-rule: evenodd;
}
.legal-mention-cls-3 {
  fill: #ffd98e;
}
.legal-mention-cls-10,
.legal-mention-cls-11,
.legal-mention-cls-13,
.legal-mention-cls-4,
.legal-mention-cls-7 {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.legal-mention-cls-11,
.legal-mention-cls-4 {
  stroke: #ff8364;
}
.legal-mention-cls-4 {
  stroke-width: 5.73px;
}
.legal-mention-cls-5 {
  fill: #d18c65;
}
.legal-mention-cls-6 {
  fill: #ff8364;
}
.legal-mention-cls-13,
.legal-mention-cls-7 {
  stroke: #ffd98e;
}
.legal-mention-cls-7 {
  stroke-width: 2.83px;
}
.legal-mention-cls-8 {
  fill: #6bd5e1;
}
.legal-mention-cls-9 {
  fill: #dfdfdf;
}
.legal-mention-cls-10 {
  stroke: #6bd5e1;
}
.legal-mention-cls-10,
.legal-mention-cls-11 {
  stroke-width: 3.11px;
}
.legal-mention-cls-12 {
  fill: #1b3c87;
}
.legal-mention-cls-13 {
  stroke-width: 4.23px;
}
.legal-mention-cls-14 {
  fill: #e49d75;
}
