.professionnal-1,
.professionnal-10,
.professionnal-13,
.professionnal-17,
.professionnal-18,
.professionnal-5 {
  fill: none;
}
.professionnal-1,
.professionnal-18,
.professionnal-19,
.professionnal-2,
.professionnal-3 {
  stroke: #d8baa3;
}
.professionnal-1,
.professionnal-10,
.professionnal-13,
.professionnal-14,
.professionnal-15,
.professionnal-17,
.professionnal-18,
.professionnal-19,
.professionnal-2,
.professionnal-3,
.professionnal-5 {
  stroke-miterlimit: 10;
}
.professionnal-1,
.professionnal-10,
.professionnal-2,
.professionnal-3 {
  stroke-width: 6px;
}
.professionnal-12,
.professionnal-14,
.professionnal-16,
.professionnal-19,
.professionnal-2 {
  fill: #fff;
}
.professionnal-3,
.professionnal-9 {
  fill: #f0e1d4;
}
.professionnal-4 {
  fill: #722d54;
}
.professionnal-10,
.professionnal-15,
.professionnal-5 {
  stroke: #fff;
}
.professionnal-10,
.professionnal-18,
.professionnal-19,
.professionnal-5 {
  stroke-linecap: round;
}
.professionnal-13,
.professionnal-14,
.professionnal-18,
.professionnal-19,
.professionnal-5 {
  stroke-width: 5px;
}
.professionnal-6 {
  fill: #3f4d90;
}
.professionnal-7 {
  fill: #c36f0b;
}
.professionnal-8 {
  fill: #b65a18;
}
.professionnal-11 {
  fill: #ffb000;
}
.professionnal-13,
.professionnal-14,
.professionnal-17 {
  stroke: #722d54;
}
.professionnal-15 {
  fill: #3f4d79;
  stroke-width: 2px;
}
.professionnal-16 {
  opacity: 0.2;
}
.professionnal-17 {
  stroke-width: 3px;
}
